
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section1{
    padding: 0.1px;
    background-image: linear-gradient(#ffc0cb5e, #dc143c5e),url(./img/hero.jpg);
}

.section1 h2{
    background: rgba(0, 0, 0, 0.459);
    color: white;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    margin-top: calc(50vh - 50px);
}

.text{
    width: 100%;
    text-align: center;
    padding: 60px 30px;
}

.text p{
    padding: 20px 0;
}

.section2{
    height: 600px;
    background-image: url(./img/fondo1.jpg);
    text-align: center;
    line-height: 600px;
}

.background h3{
    color: white;
    font-size: 4rem;
    line-height: inherit;
}

.section3{
    background-image: url(./img/fondo2.jpg);
    text-align: center;
    line-height: 100vh;
}