*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .enlaces{
    display: inline-block;
    text-decoration: none;
    background: crimson;
    color: white;
    padding: 10px 20px;
}

.block{
    display: none;
} */

.header{
    height: 400px;
    background: crimson;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}

.title{
    text-align: initial;
    font-family: Helvetica, sans-serif;
    padding: inherit;
    border: inherit;
    font-size: 30px;
    color: white;
}