*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fafafa;
}

.img{
    display: block;
    width: 350px;
    margin: 50px auto;
    /* box-shadow: 8px 8px 12px rgba(220, 20, 103, 0.50); */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
}

.box{
    background: steelblue;
    width: 100px;
    height: 100px;
    margin: 30px;
    /* box-shadow: 3px 2px 12px crimson; */
    /* box-shadow: 5px 5px 10px 0px crimson; */
}