*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* 
ul,ol{
    padding: 0;
} */
ul{
    margin: 30px 0;
    list-style-type: none;
    list-style-image: url(./img/arrow.png);
    list-style-position: inside;
}
ol{
    list-style-type: disc;
}
.lista{
    font-size: 26px;
    background: coral;
    /* list-style: ; */
}


figure{
    width: 200px;
    height: 400px;
    background: crimson;
    margin: 30px auto;
    box-shadow: 5px 5px 10px rgba(160, 151, 151, 0.5);
}

.img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}