*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 400px;
    margin: 30px auto;
    background: slateblue;
    /* background-image: linear-gradient( direction, color stop, color stop ); */
    /* background-image: linear-gradient(45deg, crimson, steelblue); */
    background-image: linear-gradient(crimson 30%, steelblue 80%);
}

.header{
    padding: 0.1px;
    /* background-image: linear-gradient(170deg, rgba(123,144,147,0.75) 0%, rgba(53,55,54,0.75) 43%, rgba(30,30,30,0.75) 100%), url(./img/pc.jpg); */
    background-image: linear-gradient(to top, #30d0d080 0%, #33086780 100%), url(./img/pc.jpg);
    /* background: linear-gradient(to right, #0f202780, #203a4380, #5e788380), url(./img/hero.jpg);  */
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 250px;
    font-size: 60px;
    text-align: center;
}